@{
    ViewBag.Title = "Galeria";
}

<div class="living_middle">
    <div class="container">
        <div class="entertain_box wow fadeInLeft" data-wow-delay="0.4s">
            <div class="col-md-3 grid_box">
                <a href="images/p1.jpg" class="swipebox" title="Image Title"> <img src="images/p1.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
                <div class="grid_box2">
                    <h4><a href="#">Photos</a></h4>
                    <p>20 Photos</p>
                </div>
            </div>
            <div class="col-md-3 grid_box">
                <a href="images/p2.jpg" class="swipebox" title="Image Title"> <img src="images/p2.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
                <div class="grid_box2">
                    <h4><a href="#">Photos</a></h4>
                    <p>20 Photos</p>
                </div>
            </div>
            <div class="col-md-3 grid_box">
                <a href="images/p3.jpg" class="swipebox" title="Image Title"> <img src="images/p3.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
                <div class="grid_box2">
                    <h4><a href="#">Photos</a></h4>
                    <p>20 Photos</p>
                </div>
            </div>
            <div class="col-md-3 grid_box">
                <a href="images/p4.jpg" class="swipebox" title="Image Title"> <img src="images/p4.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
                <div class="grid_box2">
                    <h4><a href="#">Photos</a></h4>
                    <p>20 Photos</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="entertain_box1 wow fadeInRight" data-wow-delay="0.4s">
            <div class="col-md-3 grid_box">
                <a href="images/p5.jpg" class="swipebox" title="Image Title"> <img src="images/p5.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
                <div class="grid_box2">
                    <h4><a href="#">Photos</a></h4>
                    <p>20 Photos</p>
                </div>
            </div>
            <div class="col-md-3 grid_box">
                <a href="images/p6.jpg" class="swipebox" title="Image Title"> <img src="images/p6.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
                <div class="grid_box2">
                    <h4><a href="#">Photos</a></h4>
                    <p>20 Photos</p>
                </div>
            </div>
            <div class="col-md-3 grid_box">
                <a href="images/p7.jpg" class="swipebox" title="Image Title"> <img src="images/p7.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
                <div class="grid_box2">
                    <h4><a href="#">Photos</a></h4>
                    <p>20 Photos</p>
                </div>
            </div>
            <div class="col-md-3 grid_box">
                <a href="images/p8.jpg" class="swipebox" title="Image Title"> <img src="images/p8.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
                <div class="grid_box2">
                    <h4><a href="#">Photos</a></h4>
                    <p>20 Photos</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>