
<div class="living_middle">
    <div class="container">
        <div class="entertain_box wow fadeInLeft" data-wow-delay="0.4s">
            <div class="col-md-3 grid_box">
                <a href="~/Content/images/herois6.jpg" class="swipebox" title="Heróis"> <img src="~/Content/images/herois6.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
                <div class="grid_box2">
                    <h4><a href="#">Fotos</a></h4>
                    <p>8 Fotos</p>
                </div>
            </div>
            <div class="col-md-3 grid_box">
                <a href="~/Content/images/herois7.jpg" class="swipebox" title="Heróis"> <img src="~/Content/images/herois7.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
                <div class="grid_box2">
                    <h4><a href="#">Fotos</a></h4>
                    <p>8 Fotos</p>
                </div>
            </div>
            <div class="col-md-3 grid_box">
                <a href="~/Content/images/herois4.png" class="swipebox" title="Heróis"> <img src="~/Content/images/herois4.png" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
                <div class="grid_box2">
                    <h4><a href="#">Fotos</a></h4>
                    <p>8 Fotos</p>
                </div>
            </div>
            <div class="col-md-3 grid_box">
                <a href="~/Content/images/heroi8.jpg" class="swipebox" title="Heróis"> <img src="~/Content/images/heroi8.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
                <div class="grid_box2">
                    <h4><a href="#">Fotos</a></h4>
                    <p>8 Fotos</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="entertain_box1 wow fadeInRight" data-wow-delay="0.4s">
            <div class="col-md-3 grid_box">
                <a href="~/Content/images/heroi9.jpg" class="swipebox" title="Heróis"> <img src="~/Content/images/heroi9.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
                <div class="grid_box2">
                    <h4><a href="#">Fotos</a></h4>
                    <p>8 Fotos</p>
                </div>
            </div>
            <div class="col-md-3 grid_box">
                <a href="~/Content/images/heroi10.jpg" class="swipebox" title="Heróis"> <img src="~/Content/images/heroi10.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
                <div class="grid_box2">
                    <h4><a href="#">Fotos</a></h4>
                    <p>8 Fotos</p>
                </div>
            </div>
            <div class="col-md-3 grid_box">
                <a href="~/Content/images/heroi11.jpg" class="swipebox" title="Heróis"> <img src="~/Content/images/heroi11.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
                <div class="grid_box2">
                    <h4><a href="#">Fotos</a></h4>
                    <p>8 Fotos</p>
                </div>
            </div>
            <div class="col-md-3 grid_box">
                <a href="~/Content/images/heroi12.jpg" class="swipebox" title="Heróis"> <img src="~/Content/images/heroi12.jpg" class="img-responsive" alt=""><span class="zoom-icon"></span> </a>
                <div class="grid_box2">
                    <h4><a href="#">Fotos</a></h4>
                    <p>8 Fotos</p>
                </div>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
