<div class="living_middle">
    <div class="container">
        <div class="col-md-12 wow fadeInLeft animated" data-wow-delay="0.4s" style="visibility: visible; -webkit-animation-delay: 0.4s;">
            <ul class="feature">
                <li> <i class="icon-heart"></i></li>
                <li class="feature_right">
                    <h4>Como ser um Voluntário</h4>
                    <p>
                        Todas as pessoas, de preferência maiores de idade, com disponibilidade de tempo e bom equilíbrio emocional, podem fazer parte de um programa de Voluntários.
                        Não é preciso ser profissional da saúde, mas é fundamental estar preparado para ingressar no ambiente hospitalar.
                        O SESC (Serviço Social do Comércio) realiza um Curso de Voluntariado com duração de 21 horas. É importante que um Voluntário esteja preparado emocionalmente.
                    </p>
                </li>
                <div class="clearfix"></div>
            </ul>



            <ul class="feature">
                <li> <i class="icon-plus"></i></li>
                <li class="feature_right">
                    <h4>Como Cadastrar um evento no portal Heróis do Câncer</h4>
                    <p>
                        <ul class="feature">
                            <li>
                    <p>Você precisa estar logado no portal. Para logar, <a href="#">clique aqui</a> para logar.</p>
                </li>
                <li><p>Acesse o item de menu <a href="#">Eventos</a>.</p></li>
                <li><p>Preencha os campos do formulário e Compartilhe o seu evento!</p></li>

                <div class="clearfix"></div>
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    setTimeout(function () {

        $("#menuHome").removeClass("active");
        $("#menuSejaVoluntario").removeClass("active");
        $("#menuEventos").removeClass("active");
        $("#menuFotos").removeClass("active");
        $("#menuContato").removeClass("active");

        $("#menuSejaVoluntario").addClass("active");
    }, 200);
</script>