<div class="living_middle">
    <div class="container">
        <div class="col-md-12" data-wow-delay="0.4s">
            <div class="col-md-3 grid_box">
                <img src="~/Content/images/p1.jpg" class="img-responsive img-thumbnail" alt=""><span class="zoom-icon"></span>
            </div>
            <p style="text-align: justify;">
                O Hospital Infantil Waldemar Monastier se preocupa com a humanização e acolhimento dos pacientes, acompanhantes e funcionários, por isso criou o Serviço de Voluntariado no hospital, que tem sido fundamental para podermos atuar nas diversas frentes de trabalho que necessitamos.
                As atividades são direcionadas às crianças atendidas no hospital, seus familiares e até aos funcionários, em diversas áreas como: lazer, educação, oficinas, cursos, recreação, capelania, dentre outros.
                Faça parte dessa história e contribua para que possamos realizar esse trabalho, porque nós também queremos fazer parte da sua história como voluntário.
            </p>
            <p style="text-align: justify;">
                O Hospital Infantil Waldemar Monastier se preocupa com a humanização e acolhimento dos pacientes, acompanhantes e funcionários, por isso criou o Serviço de Voluntariado no hospital, que tem sido fundamental para podermos atuar nas diversas frentes de trabalho que necessitamos.
                As atividades são direcionadas às crianças atendidas no hospital, seus familiares e até aos funcionários, em diversas áreas como: lazer, educação, oficinas, cursos, recreação, capelania, dentre outros.
                Faça parte dessa história e contribua para que possamos realizar esse trabalho, porque nós também queremos fazer parte da sua história como voluntário.
            </p>
        </div>
    </div>
</div>

