<div class="content_top" style="background: #f3f1f2">
    <div class="container">
        <div class="col-md-4 bottom_nav">
            @if(User.Identity.IsAuthenticated)
            {
                <div class="content_menu">
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".cadastro-evento-modal" style="background: #32CD32">Criar evento</button>
                </div>
            }
        </div>
        <div class="col-md-4 bottom_nav">
            <div class="content_menu">
                <ul>
                    <li><a href="#">MEUS EVENTOS</a></li>
                    <li class="active"><a href="#">GERAL</a></li>
                    <li><a href="#">EVENTOS INATIVOS</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>