@using HeroisDoCancer.ViewModels;

@model PesquisaEventoViewModel

@{
    ViewBag.Title = "Index";
}

<link href="~/Content/buttonsocial.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/teste.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' />

<div class="living_middle">
    <div class="container">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>
        <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    ...
                </div>
            </div>
        </div>
        <div class="page-header">
            <h1 id="timeline">EVENTOS - ABRIL/2015</h1>
        </div>
        <ul class="timeline">
            @foreach (var evento in Model.Eventos)
            {
                @Html.Partial("_Item", Model.CriarInstancia(evento))
            }
        </ul>
    </div>
</div>

<script type="text/javascript">
    setTimeout(function () {

        $("#menuHome").removeClass("active");
        $("#menuSejaVoluntario").removeClass("active");
        $("#menuEventos").removeClass("active");
        $("#menuFotos").removeClass("active");
        $("#menuContato").removeClass("active");

        $("#menuEventos").addClass("active");

        $(".timeline > li:odd").addClass("timeline-inverted");
    }, 200);

    function depoisUsuarioLogadoSucesso() {
        window.location = window.location;
    }

    function depoisUsuarioDeslogar() {
        window.location = window.location;
    }
</script>